html,
body {
  background-color: pink;
}
.outer {
  width: 1200px;
  border: 1px solid #000;
}
.header {
  height: 100px;
  background-color: yellow;
}
.header:hover {
  color: yellow;
}
.header:hover {
  color: #ccc;
}
.con {
  margin: 0 auto;
  border: 1px solid #000;
}
.con > .nav {
  margin: 10px;
}
.con ~ div {
  color: yellow;
}
.footer {
  width: 1200px;
  box-shadow: 0px 0px 0px 0px #ccc;
}
ul li {
  line-height: 40px;
}
ul li:nth-child(1) {
  color: green;
}
ul li:nth-child(2) {
  color: pink;
}
